*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.main-container{
    min-height: 100vh;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, .list-container{
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
}

header{
    margin: 80px;
}

h1{
    font-size: 2.5rem;
}


.top{
    display: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

form{
    margin: 30px;
    height: 40px;
}


.todo-input{
    width: 400px;
    font-size: 1.2rem;
    padding: 10px;
}

.list-item{
    min-height: 40px;
    width: 500px;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    font-size: 1.5rem;

}

.todo-text{
    min-height: 40px;
    flex-grow: 1;
    padding: 10px;
}

button{
    border: 0;
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

form button{
    padding: 8px;
}


.checked{
    text-decoration: line-through;
    opacity: 0.5;
}


.todo-status{
    margin: auto;
}

.horizontal-list li{
    display: inline;
    cursor: pointer;
}


